<!DOCTYPE html>
<html xmlns:th="http://www.thymeloaf.org">
<head>
    <title>ecommerce • user</title>
    <!--JQUERY-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- FRAMEWORK BOOTSTRAP para el estilo de la pagina-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

    <!-- Los iconos tipo Solid de Fontawesome-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/solid.css">
    <script src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>

    <!-- Nuestro css-->
    <link rel="stylesheet" type="text/css" href="static/css/index.css" th:href="@{/css/index.css}">
</head>
<body>

<!-- NAVBAR PRINCIPAL -->
<nav class="navbar navbar-light justify-content-between bg-light">
    <div class="container">
        <a th:href="@{/ecommerce}" class="navbar-brand"><h2>e-commerce</h2></a>
        <form class="form-inline nav-item" th:action="@{/logout}" method="post">
            <button type="submit"  class="btn btn btn-outline-dark btn-sm">
                <i class="fas fa-sign-in-alt"></i> Logout
            </button>
        </form>
    </div>
</nav>

<!-- NAVBAR USER -->
<nav class="navbar navbar-light justify-content-between bg-lightblue">
    <div class="container">
        <h4 th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</h4>
        <form class="form-inline nav-item">

            <div th:switch="${minutes+seconds}">
                <h4 th:case="0">empty cart </h4>
                <h4 th:case="*" th:text="${'Time: '+ minutes +':'+seconds}"></h4>
            </div>

            <a type="button" class="ml-2 btn btn-primary rounded-circle" href="/ecommerce/cart">
                <i class="fas fa-shopping-cart"></i> Cart
            </a>
            <a type="button" class="ml-2 btn btn-success rounded-circle" href="/ecommerce/user">
                <i class="fas fa-user"></i> [[${#httpServletRequest.remoteUser}]]
            </a>
        </form>
    </div>
</nav>


<!--TABLE-->

<div class="container mt-4 shadow-sm p-3 mb-5 bg-white rounded">
    <div class="p-1 gradient-green text-white rounded mb-4">
        <h4>Orders List</h4>
    </div>
    <table class="table shadow-sm p-3 mb-5 bg-white rounded">
        <thead>
        <tr>
            <th>ID Invoice Order</th>
            <th>Date</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="order:${orders}">
            <td th:text="${order.id}"></td>
            <td th:text="${order.date}"></td>
        </tr>
        </tbody>
    </table>
    <div class="d-flex justify-content-center">
        <a type="button" class="btn btn-primary mx-auto d-block mb-4" href="/ecommerce">
            <i class="fas fa-home"></i> Home
        </a>
    </div>
</div>

</body>
</html>